Source: acmetool-acmedns-hook
Section: web
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/dlitz/acmetool-acmedns-hook
Vcs-Browser: https://github.com/dlitz/acmetool-acmedns-hook
Vcs-Git: https://github.com/dlitz/acmetool-acmedns-hook.git

Package: acmetool-acmedns-hook
Architecture: all
Depends:
 ${misc:Depends},
 curl,
 python3,
Recommends:
 acmetool,
Description: acmetool hook for joohoi's acme-dns server
 This is an acmetool DNS validation hook script and client for joohoi's
 acme-dns-server (https://github.com/joohoi/acme-dns).
